@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.main-div{
    width: 100%;
    height: 100vh;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: green;
    box-shadow: 1px 1px rgb(0,0,0,0.2);
}
.company-name{
    display: flex;
}
.company-name div{
    margin: auto 20px;
    padding: 10px 0;
}
.company-name a{
    text-decoration: none;
    color: white;
}
.menu-list{
    display: flex;
    justify-content: flex-start;
}
.menu-list div{
    margin: auto 20px;
    padding: 10px 0;
}
.menu-list a{
    text-decoration: none;
    color: white;
}
.afas{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
}
.sliding-div{
    margin: 20px;
    height: 500px;
    position: relative;
}
.sliding{
    display: none;
}
.sliding-image{
    width: 100%;
    height: 600px;
}
.sliding-text{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: black;
}
/* ------Styling Product list-------- */
.product-list{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-title{
    margin: 10px 0;
    text-decoration: 1px solid underline;
    text-align: center;
}
.p-container{
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(225, 255, 255, 0.4);
}
.p-image{
    margin: 10px 50px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.p-information{
    margin: 5px 50px;
}
.p-name{
    text-decoration: none;
}

/* Styling contact us portion */
.contact-us{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c-content{
    margin-bottom: 20px;
    padding: 0 30px;
    width: 500px;
}
.whatsapp-button{
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    font-size: 1.1rem;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}
.whatsapp-button:hover{
    background-color: green;
    color: white;
}
.whatsapp{
    text-decoration: none;
    padding: 10px;
}
.c-map{
    width: 500px;
    height: 400px;
}
#map{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.about-us{
    padding: 50px 0;
    background-color: greenyellow;
}
.au-heading{
    padding: 10px 0;
    text-decoration: 2px solid underline;
    text-align: center;
}
.au-text{
    margin:20px 50px;
}
.au-topics{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.topic{
    margin: 10px;
    width: 500px;
}